# BTD Example config file
#
# Config file is looked for at the following locations in order of priority:
# - The location specified with the -c flag
# - $XDG_CONFIG_HOME/btd/config
# - ~/.config/btd/config
# - /etc/btd.conf
# - $XDG_CONFIG_DIRS/btd/config
# - /etc/xdg/btd/config
#
# Comments start with a # and can be inline
# All options are initialized with their defaults

# Location of the socket used for communicating with the daemon
socket = ./btd.socket

# Location of the database storing all the files
db = ./btddb # some comment

# Attached file storage
files = ./files/files

# Format in which to store files.
#
# Available shortcuts:
# %entry  - http://newton.ex.ac.uk/tex/pack/bibtex/btxdoc/node7.html
# %type   - http://newton.ex.ac.uk/tex/pack/bibtex/btxdoc/node6.html
# %ext    - File extension
# %%      - literal % (why would you want this?)
#
# If an entry is not available an empty string is used.
filefmt = %year/%author - %title.%ext
