# BTD Example config file
#
# Config file is looked for at the following locations in order of priority:
# - The location specified with the -c flag
# - $XDG_CONFIG_HOME/btd/config
# - ~/.config/btd/config
# - /etc/btd.conf
# - $XDG_CONFIG_DIRS/btd/config
# - /etc/xdg/btd/config
#
# Comments start with a # and can be inline
# All options are initialized with their defaults

# Location or address of the socket used for communicating with the daemon
#
# Possible types     | example                           | notes
# Unix domain socket | ~/.btd/btd.socket                 | ~ is expanded
#                    | ./btd.socket                      | may be relative
# TCP ipv4           | 192.168.0.1:12345                 |
#                    | *:1000                            | accept all ip's
# TCP ipv6           | [fe80::be5f:f4ff:fe1c:e60]:12345  |
#                    | [::1]:1234                        | localhost 
#socket = ./btd.socket
#
## Location of the database and files
#datadir = ./data # some comment
#
## When not defined no pidfile is written
#pidfile = ./btd.pid
#
## Format in which to store files.
##
## Available shortcuts:
## %entry  - http://newton.ex.ac.uk/tex/pack/bibtex/btxdoc/node7.html
## %type   - http://newton.ex.ac.uk/tex/pack/bibtex/btxdoc/node6.html
## %ext    - File extension
## %%      - literal % (why would you want this?)
##
## If an entry is not available an empty string is used.
#filefmt = %year/%author - %title.%ext
#
## Flag to check wether the bibtex snippets have the complete specs
#check_fields = false
